<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1>Detail</h1>
<body>
<h1>{{ listing.listing_name }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' listing.id %}" method="post">
{% csrf_token %}
{% for product in listing.products_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ product.id }}" />
    <label for="choice{{ forloop.counter }}">{{ product.type }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />


</form>



</body>
</html>
</body>
</html>